{% extends "base.html" %}

{% block content %}
<h2 class="section-title project-grid">Experience</h2>
<div class="timeline-container">
    <div class="timeline">
        <!-- Left-aligned item -->
        <div class="timeline-item left-container">
            <div class="content-box">
                <h3>CompTIA Security+ Certified</h3>
                <p class="date">March 2025</p>
            </div>
        </div>

        <!-- Right-aligned item -->
        <div class="timeline-item right-container">
            <div class="content-box">
                <h3>ISC2 Certified in Cybersecurity</h3>
                <p class="date">September 2024</p>
            </div>
        </div>

        <!-- Left-aligned item -->
        <div class="timeline-item left-container">
          <div class="content-box">
              <h3>B.A. in Specialized Honours Computer Security</h3>
              <p class="date">Graduated June 2024</p>
              <p>York University</p>
          </div>
      </div>

      <!-- Right-aligned item -->
      <div class="timeline-item right-container">
          <div class="content-box">
              <h3>Full Stack Software Developer</h3>
              <p class="date">May 2023 - August 2023</p>
              <p>Emailgistics</p>
              <ul>
                  <li>Troubleshot and resolved complex, time-sensitive issues impacting over 10,000 users, providing rapid patches to maintain software reliability</li>
                  <li>Played an integral role in product launches by implementing critical updates and improvements; identified and documented 5+ bugs for resolution in future sprints</li>
                  <li>Enhanced customer experience on key application interfaces by updating payment plan elements, adding custom tags, and expanding email history data to align with user requests</li>
              </ul>
          </div>
      </div>

      <!-- Left-aligned item -->
      <div class="timeline-item left-container">
        <div class="content-box">
            <h3>Junior Developer</h3>
            <p class="date">May 2022 - August 2022</p>
            <p>Emailgistics</p>
            <ul>
                <li>Revamped the company's demo microservice, optimizing it to effectively showcase email management software capabilities to over 50 potential clients per month</li>
                <li>Led the creation of a new dashboard microservice from the ground up, working alongside CEO, CTO, and senior developers to define design, features and scalable architecture </li>
                <li>Developed and structured database tables, backend functionality, and the dashboard interface, aligning technical solutions with business objectives for sustainable growth and a 10% increase in user engagement</li>
            </ul>
        </div>
    </div>

    <!-- Right-aligned item -->
    <div class="timeline-item right-container">
        <div class="content-box">
            <h3>Computer System Technology</h3>
            <p class="date">Graduated in December 2020</p>
            <p>Sheridan College</p>
        </div>
    </div>

    </div>
</div>
{% endblock %}